/* fonts */
/** fonts **/
/* colors */
/* borders */
/* transitions */
@media (max-width: 768px) {
  label {
    font-family: "PFBeauSansPro-Light", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
  }
  .form-control,
  .form-control:active {
    font-family: "PFBeauSansPro-Bbook", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.1em;
  }
  body .wrap .navbar > .container-fluid .navbar-brand img {
    display: inline-block;
    height: 50px;
    margin-top: 20px;
  }
  body .wrap .navbar-default {
    background-color: #235d54;
  }
  body .wrap .navbar-default .container-fluid .navbar-header .navbar-brand {
    font-family: "PFBeauSansPro-Black", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    color: rgba(252, 252, 252, 0.77);
  }
  body .wrap .navbar-default .container-fluid .navbar-header .navbar-brand:hover {
    color: rgba(252, 252, 252, 0.77);
  }
  body .wrap .navbar-default .container-fluid .nav {
    margin: 0;
  }
  body .wrap .navbar-default .container-fluid .nav li {
    border-bottom: 1px solid rgba(252, 252, 252, 0.07);
  }
  body .wrap .navbar-default .container-fluid .nav li a,
  body .wrap .navbar-default .container-fluid .nav li a:active,
  body .wrap .navbar-default .container-fluid .nav li a:visited,
  body .wrap .navbar-default .container-fluid .nav li a:focus {
    font-family: "PFBeauSansPro-Bbook", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    color: rgba(252, 252, 252, 0.33);
  }
  body .wrap .navbar-default .container-fluid .nav li a i,
  body .wrap .navbar-default .container-fluid .nav li a:active i,
  body .wrap .navbar-default .container-fluid .nav li a:visited i,
  body .wrap .navbar-default .container-fluid .nav li a:focus i {
    color: rgba(252, 252, 252, 0.33);
  }
  body .wrap .navbar-default .container-fluid .nav li a:hover {
    color: #fcfcfc;
  }
  body .wrap .navbar-default .container-fluid .nav li a:hover i {
    color: #fcfcfc;
  }
  body .wrap .navbar-default .container-fluid .nav li.active a {
    color: #fcfcfc;
  }
  body .wrap .navbar-default .container-fluid .nav li.active a i {
    color: #fcfcfc;
  }
  body .wrap #cpanel-container .content .panel.panel-resource .panel-heading h5.panel-title,
  body .wrap #cpanel-container .content .panel.panel-provider .panel-heading h5.panel-title,
  body .wrap #cpanel-container .content .panel.panel-resource .panel-heading div,
  body .wrap #cpanel-container .content .panel.panel-provider .panel-heading div {
    width: 100%;
  }
  body .wrap .cpanel-list .cpanel-item .cpanel-item-wrap i {
    font-size: .9em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-actions .cpanel-item-button {
    font-size: 1em;
    padding: 0 1em;
    margin: 1em 0;
    line-height: 3em;
    height: 3em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-actions .cpanel-item-text {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 3em;
    height: 3em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property .wrapper {
    padding: 1.4em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property .wrapper i {
    font-size: .9em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > p,
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > a,
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > strong {
    line-height: 1.3em;
    height: 1.3em;
    margin: 0;
  }
  body .wrap .cpanel-list .summary {
    padding-top: 1em;
    padding-bottom: 1em;
  }
  body .footer {
    font-family: "PFBeauSansPro-Light", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
  }
  .modal-content .modal-header .modal-title {
    text-align: center;
  }
}

/*# sourceMappingURL=panel.portrait.css.map */