/* fonts */
/** fonts **/
/* colors */
/* borders */
/* transitions */
@media (min-width: 768px) {
  label {
    font-size: 1em;
  }
  .form-control,
  .form-control:active {
    font-size: 1em;
  }
  body .wrap .navbar > .container-fluid .navbar-brand img {
    display: inline-block;
    position: relative;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
  }
  body .wrap .navbar-default {
    background-color: rgba(35, 93, 84, 0.07);
  }
  body .wrap .navbar-default .container-fluid .navbar-header .navbar-brand {
    font-family: "PFBeauSansPro-Black", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    color: rgba(55, 53, 71, 0.33);
  }
  body .wrap .navbar-default .container-fluid .navbar-header .navbar-brand:hover {
    color: #235d54;
  }
  body .wrap .navbar-default .container-fluid .nav li {
    border-left: 1px solid rgba(35, 93, 84, 0.07);
    background: transparent;
  }
  body .wrap .navbar-default .container-fluid .nav li a,
  body .wrap .navbar-default .container-fluid .nav li a:active,
  body .wrap .navbar-default .container-fluid .nav li a:visited,
  body .wrap .navbar-default .container-fluid .nav li a:focus {
    font-family: "PFBeauSansPro-Bbook", Arial, serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    color: rgba(35, 93, 84, 0.5);
  }
  body .wrap .navbar-default .container-fluid .nav li a i,
  body .wrap .navbar-default .container-fluid .nav li a:active i,
  body .wrap .navbar-default .container-fluid .nav li a:visited i,
  body .wrap .navbar-default .container-fluid .nav li a:focus i {
    color: rgba(35, 93, 84, 0.5);
  }
  body .wrap .navbar-default .container-fluid .nav li a:hover {
    background-color: rgba(35, 93, 84, 0.07);
    color: #235d54;
  }
  body .wrap .navbar-default .container-fluid .nav li a:hover i {
    color: #235d54;
  }
  body .wrap .navbar-default .container-fluid .nav li.active {
    background-color: #235d54;
  }
  body .wrap .navbar-default .container-fluid .nav li.active a {
    color: #fcfcfc;
    background: transparent;
  }
  body .wrap .navbar-default .container-fluid .nav li.active a i {
    color: #fcfcfc;
  }
  body .wrap .navbar-default .container-fluid .nav li:last-child a:hover {
    color: #ce260a;
  }
  body .wrap .navbar-default .container-fluid .nav li:last-child a:hover i {
    color: #ce260a;
  }
  body .wrap #cpanel-container .content .panel.panel-resource .panel-heading h5.panel-title,
  body .wrap #cpanel-container .content .panel.panel-provider .panel-heading h5.panel-title {
    width: 40%;
  }
  body .wrap #cpanel-container .content .panel.panel-resource .panel-heading div,
  body .wrap #cpanel-container .content .panel.panel-provider .panel-heading div {
    width: 60%;
  }
  body .wrap .cpanel-list .cpanel-item .cpanel-item-wrap i {
    font-size: 1.2em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-actions .cpanel-item-button {
    font-size: 1em;
    padding: 0 1em;
    margin: 1em 0;
    line-height: 3em;
    height: 3em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-actions .cpanel-item-text {
    margin: 1em 0;
    padding: 0 1em;
    line-height: 3em;
    height: 3em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property .wrapper {
    padding: 1.4em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property .wrapper i {
    font-size: 1em;
  }
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > p,
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > a,
  body .wrap .cpanel-list .cpanel-item .panel-body .cpanel-item-property-list .cpanel-item-property > div > div > strong {
    line-height: 1.3em;
    height: 1.3em;
    margin: 0;
  }
  body .wrap .cpanel-list .summary {
    padding-top: 1.3em;
    padding-bottom: 1.3em;
  }
}

/*# sourceMappingURL=panel.landscape.css.map */